<form ng-submit="login()" name="loginForm">
    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control"
               id="inputEmail"
               placeholder="Email"
               ng-model="user.email"
               name="email">
        <span ng-show="!loginForm.email.$valid || errors.email" class="text-danger">Invalid email</span>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control"
               id="inputPassword"
               placeholder="Password"
               ng-model="user.password"
               name="password">
        <span ng-show="!loginForm.password.$valid || errors.password" class="text-danger">Invalid password</span>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>