<h3>Tasks <task-editor project-id="projectId" on-complete="init"></task-editor></h3>

<div class="panel panel-default" ng-repeat="task in tasks">
    <div class="panel-heading">
        {{task.name}}
    </div>
    <div class="panel-body">
        <p>{{task.description}}</p>
        <a ng-click="remove(task)" class="btn btn-sm btn-default">
            <i class="fa fa-trash" aria-hidden="true"></i>
            remove
        </a>
        <task-editor on-complete="init" task="task"></task-editor>
    </div>
</div>
