<form ng-submit="signUp()" name="signUpForm">
    <div class="form-group">
        <label for="userName">User name</label>
        <input type="text" class="form-control"
               id="userName"
               placeholder="Name"
               ng-model="user.name"
               name="name">
        <span ng-show="!signUpForm.name.$valid || errors.name" class="text-danger">Invalid name</span>
    </div>
    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control"
               id="inputEmail"
               placeholder="Email"
               ng-model="user.email"
               name="email">
        <span ng-show="!signUpForm.email.$valid || errors.email" class="text-danger">Invalid email</span>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control"
               id="inputPassword"
               placeholder="Password"
               ng-model="user.password"
               name="password">
        <span ng-show="!signUpForm.password.$valid || errors.password" class="text-danger">Invalid password</span>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>